body {
    font-family: sans-serif;
    font-size: 1em;

}
 
.Container {
    text-align: center;
}
 
.Container img {
    max-width: 100%;
}
 
.Container h1 {
    color: #3951ee;
    
}
 
.Caixa {
    width: 75px;
    border: 1px solid #4b39ee;
    padding: 5px;

}